{% extends 'base.html' %} 
{% block content %}
{% load static %}
    <section>
      <div class="Category center">
        <h1>{{Category.name}}</h1>
        <div class="category-list">
        {% for product in product %}
          <a href="{% url 'category_list' product.pid %}">
            <div class="listing center">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" />
              <h2>{{ product.name }}</h2>
              <p>Price: Rs.{{ product.price }}</p>
            </div>
          </a>
        {% endfor %}
        </div>
      </div>
    </section>

    <section>
      <div class="marquee">
        <span> OFFERS TO BE DISPLAYED HERE WILL BE UPDATED FROM BACKEND </span>
      </div>
    </section>

{% endblock %}
