{% extends 'base.html' %} 
{% block content %} 
{% load static %}
<section>
  <div class="main-header center">
    <h1>JVS Traders</h1>
    <p>Description or caption to be added related to company</p>
    <a href="{% url 'products' %}"><button class="btn">View All</button></a>
  </div>
  <section class="collection">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for product in featured_product %}
         <div class="content swiper-slide">
            <a href="{% url 'product_details' product.pid %}">
              <img src="{{ product.image.url }}" alt="" />
              <div class="prd-content">
                <h2>{{ product.name }}</h2>
               <p>Rs.{{ product.price }}</p>
              </div>
            </a>
         </div>
        {% endfor %}
        
      </div>
    </div>
  </section>
</section>

<section>
  <div class="gif-offer">
    {% for m in offer_multi %}
      <img src="{{ m.images.url }}" alt="" />
    {% endfor %}
  </div>
</section>

<section>
  <div class="about center">
    <h1>About Us</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>
</section>

<section>
  <div class="marquee">
    {% for offer in offer %}
      <span>{{ offer.marquee }}</span>
    {% endfor %}
  </div>
</section>

<section>
  <div class="Category center">
    <h1>Category</h1>
    <div class="category-list">
      {% for category in category %}
      <a href="{% url 'category_list' category.cid %}">
        <div class="listing center">
          <img src="{{ category.image.url }}" alt="" />
          <h2>{{ category.name }}</h2>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<section>
  {% for o in offer %}
    <div class="offer-image">
      <img src="{{ o.big_image.url }}" alt="" />
    </div>
  {% endfor %}
</section>

<section>
  <div class="gint center">
    <div class="contact center">
      <div class="contact-heading">
        <h1>Get In Touch</h1>
        <p>Conten to be added related to contact</p>
      </div>
      <div class="contact-form">
        <form>
          <label for="Name">Enter Your Name </label>
          <input type="text" id="Name" />
          <label for="Number">Enter Your Number </label>
          <input type="text" id="Number" />
          <label for="Email">Enter Your Email </label>
          <input type="text" id="Email" />
          <textarea></textarea>
          <button type="" class="btn">Submit</button>
        </form>
      </div>
    </div>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.437820720229!2d80.22065527579635!3d13.071415612680628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52668504d9bbc9%3A0xb953c83dcd2d138a!2sChateau%20D%20Ampa%2C%20Indian%20Statistical%20Institute%2C%20Nelson%20Manickam%20Rd%2C%20Rajaram%20Mehta%20Nagar%2C%20Aminjikarai%2C%20Chennai%2C%20Tamil%20Nadu%20600029!5e0!3m2!1sen!2sin!4v1722409871514!5m2!1sen!2sin"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="side-by-side">
        <!--<img src="{% static 'mall.png' %}" alt="" />-->
        <p>
          Chateau D Ampa Indian Statistical Institute, Nelson Manickam Rd,
          Rajaram Mehta Nagar, Aminjikarai, Chennai, Tamil Nadu 600029
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %} 
{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'Script/script.js' %}"></script>
{% endblock %}
