* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: WF Visual Sans Text, sans-serif;
}

:root {
  --main-color: #0abf1f;
}

h1 {
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: inherit;
}
/*---common---*/

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----Menu---*/

.menu {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  padding: 1%;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.BTN01 {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.BTN01:focus,
.BTN01:hover {
  color: var(--main-color);
}

.BTN01:focus:after,
.BTN01:hover:after {
  width: 100%;
  left: 0%;
}

.BTN01:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.main-header {
  flex-direction: column;
}

.main-header p {
  font-size: 25px;
  font-weight: 600;
}

.main-header h1 {
  font-size: 14vh;
}

/*----------------------------Slider and Title----------------------------------*/
.prd-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 5%;
}

.prd-content p {
  font-weight: 600;
}

.collection {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection .content {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;
}

.content img {
  display: flex;
  align-items: center;
  height: 50vh;

  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

/*---------------------------- Aboutus  ----------------------------------*/

.about h1 {
  font-size: 20vh;
}

.about p {
  font-size: 3vh;
  line-height: 6vh;
  text-align: justify;
}

.about {
  gap: 10%;

  padding: 3%;
}

/*---------------------------- Category  ----------------------------------*/

.Category {
  flex-direction: column;
  margin-bottom: 5vh;
}

.Category h1 {
  font-size: 20vh;
}

.category-list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10vh 30vh;
}

.listing {
  flex-direction: column;
  gap: 10px;
}

.listing img {
  height: 40vh;
}
/*----------------------------------Offer Image-----------------------------------------*/

.offer-image {
  margin: 0 0 8% 0;
}

.offer-image img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/*----------------------------------maRQUEE-----------------------------------------*/
.marquee {
  width: 100%;
  padding-top: 2em;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}
.marquee span {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;

  font-size: 15em;
  text-transform: uppercase;
  display: inline-block;
  padding-left: -10%;
  animation: marquee-animation 40s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/*----------------------------------Gif-offer-----------------------------------------*/

.gif-offer {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-bottom: 5%;
}
.gif-offer img {
  width: 100%;
  height: 40vh;
  border-radius: 8px;
}
/*----------------------------------Contact-----------------------------------------*/

.contact {
  flex-direction: column;
  width: 50%;
}

.contact form {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}

.map {
  width: 50%;
}

.map iframe {
  padding-right: 3%;
  height: 60vh;
  width: 100%;
}

.map p {
  margin-top: 2%;
  font-size: 2vh;
  font-weight: 500;
}

.contact-heading h1 {
  font-size: 15vh;
}

.contact-form label {
  font-size: 5vh;
}

.contact-form input {
  width: 100%;
  border-width: 0 0 2px 0;
  font-size: 4vh;
}

.contact-form input:active {
  border: 0px;
  border-width: 0 0 2px 0;
}

.contact-form textarea {
  font-size: 5vh;
  border-width: 0 0 2px 0;
}

.main-header .btn {
  margin-top: 15px;
}

/*----------------------------------Footer-----------------------------------------*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  gap: 120px;
  width: 100%;
  margin-top: auto;
}

.side-footer {
  font-size: 10vh;
}

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.side-by-side img {
  height: 50px;
  width: 50px;
}

.r-sider-footer {
  align-items: flex-start;
  gap: 50px;
}

.r-sider-footer ul {
  list-style: none;
}

.r-sider-footer li {
  padding: 8px 0px;
  font-weight: 600;
}

/*----------------------------------Product-Details-----------------------------------------*/

.prd-details {
  height: 80vh;
  margin: 2%;

  border-radius: 25px;
}

.slider {
  width: 50%;
  max-height: 100%;
  margin: 2% 2%;
}
.slider img {
  object-fit: cover;
  height: 70vh;
  width: 100%;
  border-radius: 25px;
}
.details {
  width: 50%;
  max-height: 100%;
  margin: 2%;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.details h1 {
  font-size: 8vh;
}

.details p {
  font-size: vh;
}

.details li {
  display: inline-block;
  margin-right: 10px;
  padding: 15px;
  background-color: gainsboro;
  border-radius: 15px;
}

/*---------------------------------- Mobile View -----------------------------------------*/

@media screen and (min-width: 301px) and (max-width: 600px) {
  .main-header h1 {
    font-size: 6vh;
  }
  .content img {
    height: 35vh;
  }
  .menu ul {
    gap: 10px;
    font-size: 12px;
  }
  .gif-offer img {
    height: 20vh;
  }
  .about {
    flex-direction: column;
  }
  .about h1 {
    font-size: 8vh;
  }
  .about p {
    font-size: 2vh;
    line-height: 4vh;
    text-align: justify;
  }
  .marquee span {
    font-size: 3rem;
  }
  .Category h1 {
    font-size: 8vh;
  }
  .Category {
    margin-bottom: 5vh;
  }
  .category-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 3vh 6vh;
  }
  .listing img {
    height: 25vh;
  }
  .offer-image img {
    height: 25vh;
  }
  .gint {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5vh;
  }
  .map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: CENTER;
  }
  .map iframe {
    padding: 2vh;
  }
  .side-by-side {
    text-align: center;
  }
  .contact {
    width: 100%;
  }
  .contact-heading h1 {
    font-size: 8vh;
  }
  .contact form {
    width: 98%;
  }
  .contact-form label {
    font-size: 2vh;
  }
  .contact-form input {
    font-size: 2vh;
  }
  .footer {
    flex-direction: column;
    gap: 0px;
  }
  .side-footer {
    font-size: 28px;
  }
  .r-sider-footer {
    align-items: center;
    flex-direction: column;
  }
  .r-sider-footer ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .menu {
    margin-bottom: 3vh;
  }
  .r-sider-footer {
    gap: 15px;
  }
  .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-header p {
    font-size: 12px;
  }
  .contact-form textarea {
    font-size: 2vh;
  }
  .contact form {
    width: 380px;
}
.menu li {
  font-weight: 600;
  font-size: 10px;
}
  
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .prd-details {
    flex-direction: column;
    height: auto;
  }
  .slider {
    width: 100%;
  }
  .details {
    width: 100%;
  }
  .details li {
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 12px;
  }
}

@media screen and (min-width: 301px) and (max-width: 378px) {
  .contact-heading h1 {
      font-size: 7vh;
  }
  .listing  h2{
    font-size: 20px;
  }
  .contact-form textarea {
    font-size: 2vh;
  }
  .contact form {
    width: 340px;
}
.gif-offer img {
  height: 17vh;
}
}

@media screen and (min-width: 301px) and (max-width: 320px) {
  .content img {
    height: 22vh;
}
.prd-content h2{
  font-size: 16px;
}
.gif-offer img {
  height: 15vh;
}
.about p {
  font-size: 12px;
  line-height: 3vh;
  text-align: justify;
}
.about h1 {
  font-size: 6vh;
}
.Category h1 {
  font-size: 6vh;
}
.listing h2 {
  font-size: 17px;
}
.contact form {
  width: 300px;
}
.contact-heading h1 {
  font-size: 6vh;
}
.side-footer {
  font-size: 25px;
}
}

/*---------------------------------- Tablet View -----------------------------------------*/

@media screen and (min-width: 701px) and (max-width: 800px) {
  .main-header h1 {
    font-size: 14vh;
  }
  .gif-offer img {
    height: 30vh;
  }
  .about {
    flex-direction: column;
  }
  .about h1 {
    font-size: 10vh;
  }
  .about p {
    font-size: 2vh;
    line-height: 5vh;
    text-align: justify;
  }
  .marquee span {
    font-size: 6rem;
  }
  .Category h1 {
    font-size: 10vh;
  }
  .category-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 3vh 8vh;
  }
  .contact-heading h1 {
    font-size: 6vh;
  }
  .contact form {
    gap: 10px;
    width: 336px;
  }
  .contact-form label {
    font-size: 3vh;
  }
  .footer {
    gap: 10px;
    flex-direction: column;
  }
  .side-footer {
    font-size: 6vh;
  }
  .r-sider-footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

/*---------------------------------- laptop View -----------------------------------------*/

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .about h1 {
    font-size: 15vh;
  }
  .marquee span {
    font-size: 12rem;
  }
  .Category h1 {
    font-size: 15vh;
  }
  .category-list {
    gap: 8vh 13vh;
  }
  .listing img {
    height: 35vh;
  }
  .side-footer {
    font-size: 5vh;
  }
  .contact-heading h1 {
    font-size: 9vh;
  }
  .contact form {
    width: 450px;
  }
  .contact-form label {
    font-size: 4vh;
  }
  .about p {
    font-size: 3vh;
    line-height: 5vh;
  }
  .details li {
    margin-bottom: 10px;
  }
  .footer {
    gap: 100px;

}
.side-footer {
  font-size: 3vh;
}
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
  .category-list {
    gap: 8vh 25vh;
  }
}


.btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}